/* @font-face {
  font-family: Roboto-Medium;
  src: url("/assets/font/Roboto-Medium.ttf");
} */
.btn-area {
  background-color: #f7f7f7;
  padding: 30px;
}

.single-btn {
  position: relative;
}

.btn--child {
  background-color: #fff;
  border: transparent;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.btn--child:hover {
  /* background-color: #d2d3d6; */
}

.btn-container.base-btn {
  position: relative;
  display: flex;
  border-radius: 30px;
  outline: none;
  border: none;
}

.btn-container.base-btn:focus {
  outline: none;
}

.btn-container .btn__text {
  border-right: 1px solid white;
}

.btn-container .wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  margin: 0 9px 0 5px;
}

.btn-container .base-btn {
  min-width: 0;
}

.base-btn {
  min-width: 80px;
  height: 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.base-btn.round-btn .btn-text--round {
  border-radius: 30px 0 0 30px;
}

.base-btn.round-btn .base-btn.btn-icon--round {
  border-radius: 0 30px 30px 0;
}

.base-btn:focus {
  outline: 2px solid #bdbdbd;
}

.regular-btn {
  background-color: #089740;
}

.regular-btn:hover {
  background-color: #39ac66;
}

.regular-btn:active {
  background-color: #089740;
}

.sub-btn {
  color: #1f1f1f;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}

/* .single-btn.sub-btn:hover {
  opacity: 100%;
} */

.btn__options:hover .single-btn {
  background-color: #fff;
}

.sub-btn:hover {
  /* background-color: #d2d3d6; */
}

.sub-btn .btn__text {
  color: #1f1f1f;
}

.link-btn {
  width: auto;
}

.link-btn:hover {
  opacity: 75%;
}

.btn__text {
  padding: 0 16px;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__text--black {
  color: black;
}

.btn__text--green {
  color: #50b83c;
  font-weight: 500;
}

.btn--only-icon {
  /* width: 40px; */
  height: 36px;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: rgba(80, 184, 60, 0.1);
  cursor: pointer;
  /* border-radius: 4px; */
}

.btn-icon {
  display: inline-flex;
  align-items: center;
}

/* .single-btn {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.single-btn .wrapper-icon {
  padding: 0 0 0 4px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon__icon-plus {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(6%) saturate(7469%) hue-rotate(281deg) brightness(111%) contrast(109%);
  margin: 0 0 0 12px;
}

.btn-icon__text {
  color: #fff;
  font-weight: 500;
  padding: 0 16px 0 4px;
}

.combo-btn {
  width: fit-content;
  border-radius: 4px;
  height: 36px;
  display: inline-flex;
  align-items: center;
}

.combo-btn__btn-icon {
  min-width: 80px;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
}

.combo-btn__btn--only-icon {
  background-color: #089740;
  border: none;
  border-left: 1px solid #fff;
  height: 36px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.btn--only-icon__icon--down {
  width: 20px;
  height: 20px;
  width: 20px;
  width: 20px;
  margin: 0 8px;
  filter: invert(100%) sepia(7%) saturate(26%) hue-rotate(248deg) brightness(106%) contrast(108%);
}

.single-btn .btn__options {
  left: -106px;
}

.btn__options {
  position: absolute;
  top: 40px;
  left: -12px;
  z-index: 10;
  height: 36px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #babec5;
}

.btn__options .wrapper-text {
  padding: 5px 10px;
  margin: 1px 0;
}

.btn__options .wrapper-text:hover {
  background-color: #f2f2f2;
  color: #39ac66;
}

.base-btn.db-btn-left {
  border-radius: 4px 0 0 4px;
}

.base-btn.db-btn-right {
  border-radius: 0 4px 4px 0;
}

.sub-btn.disable {
  border-color: #8d9096;
  cursor: default;
}
.sub-btn.disable .btn__text {
  color: #afafaf;
}

.sub-btn.disable:hover {
  background-color: #fff;
}
