.wrapper-warning-input {
  position: absolute;
  z-index: 14;
  /* left: 50%; */
  /* top: -5px; */
  /* transform: translateX(-50%); */
  min-width: 180px;
  left: 50%;
  top: 72px;
  transform: translateX(-50%);
  display: none;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #f06666;
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  z-index: 20;
}

.warning-message {
  color: #fff;
  background-color: #f06666;

  text-align: center;
  border-radius: 4px;
  padding: 5px;
}
